/*General table rules*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.7rem;
}
th {
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    font-weight: 700;
    padding-left: .5rem;
    padding-right: .5rem;
    border-bottom: 2px solid #000;
    vertical-align: bottom;
    text-transform: uppercase;
}
td {
    border-bottom: 1px solid #cdcdcd;
    vertical-align: middle;
    line-height: 1.35em;
    padding: .25em .5em;
    height: 100%;
}
tbody>tr::hover {
    background-color: rgba(155,155,155,.2);
}