.c-post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-about {
    min-height: 300px;
}
.c-center-panel_height {
    min-height: 100vh;
}
.c-list_articles_site {
    height: 100%;
}
.c-list_articles_article-item {
    width: 100%;
}
.c-content_site {
    min-height: 100vh;
    height: 100%;
}
.c-about {
    height: 100%;
}
.c-contact-form_width {
    width: 50vw;
}
.c-styled-link:hover {
    text-decoration: underline darkgray;
    transition: text-decoration 2s;
}
.c-table-head {
    border-bottom: 2px solid
#000;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
    text-transform: uppercase;
}
.c-table-border-right {
    border-right: black 1px dotted;
}
.c-table-info, td {
    border-bottom: 1px solid #cdcdcd;
    vertical-align: middle;
    line-height: 1.35em;
    padding: .25em 1em;
}
.c-round-image {
    border-radius: 50%;
}
.c-small-table {
    font-size: 0.7rem;
}
.c-content_article > p > a {
    text-decoration: underline 2px grey;
}
.c-content_article > p > a:hover {
    text-decoration: underline 4px black;
}
.c-article-caption {
    max-width: 12rem;
    height: auto;
    display: block;
}
.c-article-cover {
    max-height: 150px;
    display: block;
}
.c-article-excerpt {
    text-align: justify;
    display: table;
}
.c-homepage-layout {
    display: flex;
    flex-direction: column;
}
.c-post-list {
    /*border-bottom: darkgray solid 1px;*/
    padding-bottom: 1rem;
}
.c-article-cover-excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-tags-list {
    display: grid;
    grid-template-columns: auto auto;
}
.c-3rd-party-logo-height {
    height: 2rem;
}
.c-large-icon {
    font-size: 2rem !important;
}
.c-test-nivo {
    height: 50vh;
    width: 70vw;
}
// Desktop version
@media only screen and (min-width: 1000px) {
    .c-navbar {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c-homepage-layout {
        display: flex;
        flex-direction: row;
    }
    .c-post-list {
        border-right: darkgray solid 1px;
        padding-right: 1rem;
    }
    .c-article-cover-excerpt {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .c-article-excerpt {
        text-align: justify;
        display: table;
        margin-left: 2rem
    }
    .c-article-cover {
        max-height: 250px;
        display: block;
    }
}
@media only screen and (min-width: 680px) {
    .c-title-site {
        display: block;
        height: 2rem;
    }
    .c-link-screen {
        display: inherit;
    }
    .c-link-mobile {
        display: none !important;
    }
    .c-title-site-mobile {
        display: none;
    }
    .c-list_articles_site {
        width: 70vw;
    }
    .c-content_article {
        max-width: 67vw;
    }
    .c-about {
        width: 70vw;
    }
    .c-reading-list {
        padding-left: 1rem;
    }
    .c-navbar-item {
        min-width: 15vw;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .c-tags-list {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }    
}
// Mobile version
@media (max-width: 680px) {
    .c-navbar {
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .c-title-site-mobile {
        display: block;
        height: 4rem;
    }
    .c-link-screen {
        display: none !important;
    }
    .c-link-mobile {
        display: inherit;
    }
    .c-title-site {
        display: none;
    }
    .c-list_articles_site {
        width: 80vw;
    }
    .c-article_width {
        width: 95vw;
    }
    .c-content_article {
        max-width: 90vw;
    }
    .c-test-nivo {
        height: 50vh;
        width: 85vw;
    }
    .c-about {
        width: 80vw;
    }
    .c-reading-list {
        padding-top: 1rem;
    }
    .c-navbar-item {
        min-width: 30%;
    }
}