.c-navbar {
    position: sticky;
    top: 0;
    display: flex;
}
.c-post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-about {
    min-height: 300px;
}
.c-center-panel_height {
    min-height: 100vh;
}
.c-list_articles_site {
    height: 100%;
}
.c-list_articles_article-item {
    // width: 100%;
}
.c-content_site {
    min-height: 100vh;
    height: 100%;
}
.c-about {
    height: 100%;
}
.c-contact-form_width {
    width: 50vw;
}
.c-styled-link:hover {
    text-decoration: underline darkgray;
    transition: text-decoration 2s;
}
.c-table-head {
    border-bottom: 2px solid
#000;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
    text-transform: uppercase;
}
.c-table-info, td {
    border-bottom: 1px solid #cdcdcd;
    vertical-align: middle;
    line-height: 1.35em;
    padding: .25em 1em;
}
.c-round-image {
    border-radius: 50%;
}
.c-small-table {
    font-size: 0.7rem;
}
// Desktop version
@media only screen and (min-width: 600px) {
    .c-title-site {
        display: block;
        height: 2rem;
    }
    .c-title-site-mobile {
        display: none;
    }
    .c-list_articles_site {
        width: 70vw;
    }
    .c-content_article {
        max-width: 67vw;
    }
    .c-about {
        width: 70vw;
    }
    .c-reading-list {
        padding-left: 1rem;
    }
    .c-navbar-item {
        min-width: 15vw;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .c-homepage-layout {
        display: flex;
        flex-direction: row;
    }
    .c-post-list {
        border-right: darkgray solid 1px;
        padding-right: 1rem;
    }
}
// Mobile version
@media (max-width: 600px) {
    .c-title-site-mobile {
        display: block;
        height: 4rem;
    }
    .c-title-site {
        display: none;
    }
    .c-list_articles_site {
        width: 80vw;
    }
    .c-article_width {
        width: 95vw;
    }
    .c-content_article {
        max-width: 90vw;
    }
    .c-about {
        width: 80vw;
    }
    .c-reading-list {
        padding-top: 1rem;
    }
    .c-navbar-item {
        min-width: 30%;
    }
    .c-homepage-layout {
        display: flex;
        flex-direction: column;
    }
    .c-post-list {
        /*border-bottom: darkgray solid 1px;*/
        padding-bottom: 1rem;
    }
}