.c-navbar {
    position: sticky;
    top: 0;
    display: flex;
}
.c-post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-about {
    min-height: 300px;
}
.c-center-panel_height {
    height: 100vh;
}
.c-list_articles_site {
    width: 70vw;
    height: 100%;
}
.c-list_articles_article-item {
    width: 100%;
}
.c-content_site {
    height: 100%;
}
.c-title-site {
    height: 2rem;
}