.o-flex-column {
    display: flex;
    flex-direction: column;
}
.o-flex-row {
    display: flex;
    flex-direction: row;
}
.o-fg {
    flex-grow: 1
}
.o-fc-fg {
    .o-flex-column();
    .o-fg();
}
.o-fr-fg {
    .o-flex-row();
    .o-fg();
}
.o-aic {
    align-items: center;
}
.o-jcsa {
    justify-content: space-around
}
.o-fr-aic {
    .o-flex-row();
    .o-aic();
}
.o-fc-aic {
    .o-flex-column();
    .o-aic();
}
.o-fr-jc {
    .o-flex-row();
    justify-content: center;
}
.o-fr-jsb {
    .o-flex-row();
    justify-content: space-between;
}
.o-fc-jc {
    .o-flex-column();
    justify-content: center;
}
.o-fc-js {
    .o-flex-column();
    justify-content: start;
}
// Responsive
.o-col-1 {width: 8.33%;}
.o-col-2 {width: 16.66%;}
.o-col-3 {width: 25%;}
.o-col-4 {width: 33.33%;}
.o-col-5 {width: 41.66%;}
.o-col-6 {width: 50%;}
.o-col-7 {width: 58.33%;}
.o-col-8 {width: 66.66%;}
.o-col-9 {width: 75%;}
.o-col-10 {width: 83.33%;}
.o-col-11 {width: 91.66%;}
.o-col-12 {width: 100%;}
.o-resp-row-col {
    display: flex;
    flex-direction: row;
}
@media (max-width: 680px) {
    [class*="o-col-"] {
      width: 100%;
    }
    .o-resp-row-col {
        flex-direction: column;
    }
}