@red: #F07369;
@grey: rgb(238, 238, 238);
@green: #90E12C;
@gold: #F8DB73;
@purple: #726DB0;

.t-bg-white {
    background-color: white;
}
.t-bg-grey {
    background-color: @grey;
}
.t-color-purple {
    color: @purple;
}
.t-title-console {
    font-family: Lucida console;
    font-style: italic;
    font-variant: all-petite-caps;
}
.t-text-red {
    color: @red;
}
.t-text-uppercase {
    text-transform: uppercase;
}
.t-text-bold {
    font-weight: bold;
}
.t-text-centered {
    text-align: center;
}
.t-font-inherit {
    // Style to override the Material UI theme
    font-family: inherit !important;
}
.t-hovered-title:hover{
    color: @purple;
}
.t-border-red {
    border: 1px @red solid;
}
.t-dotted-bg {
    background: linear-gradient(90deg, #fff 2px, transparent 1%) center, linear-gradient(#fff 2px, transparent 1%) center, rgb(134, 134, 134);
    background-size: 4px 4px;
}
.t-hover-grey:hover {
    background-color: rgba(0,0,0,.1);
}