.t-bg-white {
  background-color: white;
}
.t-bg-grey {
  background-color: #eeeeee;
}
.t-color-purple {
  color: #726DB0;
}
.t-title-console {
  font-family: Lucida console;
  font-style: italic;
  font-variant: all-petite-caps;
}
.t-text-red {
  color: #F07369;
}
.t-text-uppercase {
  text-transform: uppercase;
}
.t-text-bold {
  font-weight: bold;
}
.t-text-centered {
  text-align: center;
}
.t-font-inherit {
  font-family: inherit !important;
}
.t-hovered-title:hover {
  color: #726DB0;
}
.t-border-red {
  border: 1px #F07369 solid;
}
.t-dotted-bg {
  background: linear-gradient(90deg, #fff 2px, transparent 1%) center, linear-gradient(#fff 2px, transparent 1%) center, #868686;
  background-size: 4px 4px;
}
.t-hover-grey:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
